extends common/base.pug

include common/meta.mixin.pug
block meta.seo
  +seo(
  'D3 練習',
  'd3, javascript, data, visualization',
  'Anny 的 D3 練習')

block main
  main.index
    h1 D3 練習
    ul.list
      li
        a(href='pie.html') 圓餅圖
      li
        a(href='donut.html') 甜甜圈圖
      li
        a(href='line.html') 折線圖
      li
        a(href='bar.html') 長條圖
      li
        a(href='#') 橫條圖(施工中)
